<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Успеваемость_учащихся.Properties.Settings.uspevaemotsConnectionString"
            connectionString="Data Source=62.78.81.19;Initial Catalog=uspevaemots;User ID=25-тпБезруковАК;Password=890694"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>